// Breakpoints for Android, iOS, and Desktop
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Media query for Portrait
@mixin portrait {
  @media screen and (orientation: portrait) { @content; }
}

// Media query for Landscape
@mixin landscape {
  @media screen and (orientation: landscape) { @content; }
}

// Responsive mixin
@mixin respond-to($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: #{$tablet - 1px}) { @content; }
  } @else if $breakpoint == "tablet" {
    @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) { @content; }
  } @else if $breakpoint == "desktop" {
    @media (min-width: #{$desktop}) { @content; }
  }
}